<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<p><%= number %> <%= quick_math %> <%= othernumber %> = <%= results %></p>
	<p>If you would like to go back to pick another number or operation, click "return".</p>
	<form method="post" action="return">
    	<input type="submit" value="Return">

	</form>

</body>
</html>