<!DOCTYPE html>
<html>
<head>
	<title>Math Operations?!</title>
</head>
<body>
	Hello, <%= n_name %>. Would you like to add, subtract, multiply, or divide two numbers?
	<br>
	<br>

	<form method="post" action="calculator">
		<input type="number" name="number">
		<input type="number" name="othernumber">
		<div>
			<input type="radio" name="quick_math" value="+">
			<label>Add</label>
		</div>
		<div>
			<input type="radio" name="quick_math" value="-">
			<label>Subtract</label>
		</div>
		<div>
			<input type="radio" name="quick_math" value="*">
			<label>Multiply</label>
		</div>
		<div>
			<input type="radio" name="quick_math" value="/">
			<label>Divide</label>
		</div>

		<br>


		<input type="submit">
	</form>
</body>
</html>